.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    padding: 16px;
    margin: 20px;
}
.card__description {
    font-size: 10px;
}

.card__title {
    color: #282828;
    font-size: 14px;
}

.card span {
    color: #282828;
    font-size: 12px;
}

.card img {
    width: 288px;
    height: 182px;
    margin-bottom: 32px;
}

@media (max-width: 768px) {
    .card__title {
        font-size: 12px;
    }

    .card__description {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .card__title {
        font-size: 10px;
    }

    .card__description {
        display: none;
    }
}

body {
    background-color: #c4c4c4;
    margin: 0;
}

header {
    height: 50px;
    background-color: #ffffff;
}

footer {
    height: 50px;
    background-color: #ffffff;
}